
.hotAccessories{
    display: flex;
    width: 90vw;
    margin: auto;

}

.hotAccessories>div:first-child>img{
    cursor: pointer;
    width: 22vw;
    transition: all 0.5s;
}

.hotAccessories>div:first-child>img:hover{
    box-shadow: 0 6px 15px rgba(53,53,53,0.363);
}

.hotAccessories>div:last-child{
    display: flex;
    flex-wrap: wrap;
}